<footer class="l-footer">

  <div class="l-nav">


    <div class="nav__icons">
			&copy; 2017
      <a class="" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <div class="nav__links">
      <a class="nav__link" href="mailto:{{ site.email }}">contact</a>
    <!--   <a class="nav__link" target="_blank" href="https://twitter.com/hakilebara">Twitter</a> -->
      <a class="nav__link" target="_blank" href="https://github.com/hakilebara">Github</a>
    </div>


  </div>

</footer>
