.l-header {
  background-color: #222;
  color: #FFF;
}

.home,
.page,
.post {
  padding-top: 120px; 
}

.post-list {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-top: 40px;
  padding-left: 60px;
}
.list-item {
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.post {
  h1 {
    font-size: 3.75em;
    line-height: 1.066em;
  }
}
.post-meta {
  color: #3C4858;
  font-size: 18px;
  text-transform: uppercase;

  .icon {
    height: 19px;
  }
}
