@import url('syntax-highlighting.css');
@import url('base.css');

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

main {
  flex: 1;
  padding: 16px  32px;
}

.page-content {
  @media (min-width: 799px) {
    margin: 0 20%;
  }
}
.post-content {

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 1px solid #454c54;
  }

  a {
    text-underline-offset: .2rem;
    text-decoration: underline;
    color: #023b95;
  }

  code {
    color: #EB5757;
    background: rgba(135,131,120,.15);
  }

  pre code {
    background: inherit;
    color: inherit;
  }

  ul, p, pre {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  li {
    list-style: disc;
    margin-left: var(--spacing-unit);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background: #f5f5f5;
    font-weight: bold;
  }
}

.microblog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.microblog_post {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-areas: 
    "avatar link"
    "avatar content";
  gap: 4px 12px;
  width: 598px;
  @media (max-width: 499px) {
    width: 300px;
  }
  border-bottom: 1px solid #e6ecf0;
  border-right: solid 1px #e6ecf0;
  border-left: solid 1px #e6ecf0;
  padding: 12px 16px;
  transition: 0.1s;
}

.microblog_post:first-child {
  border-top: solid 1px #e6ecf0;
 }

.microblog_post:hover {
  background-color: #f8f9fa;
}

img {
  /* max-width: 300px; */
  max-width: 90%;
  @media (max-width: 499px) {
    max-width: 200px;
  }
  border-radius: 3%;
}
.microblog .avatar {
  grid-area: avatar;
  max-width: 48px;
  border-radius: 50%;
}
.microblog .link {
  grid-area: link;
  font-size: 14px;
  font-weight: 400;
}
.microblog .content {
  grid-area: content;
  margin: 0 0 12px 0;
}

.nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 40px;
  padding: 16px  32px;
  @media (max-width: 499px) {
    justify-content: space-around;
    flex-direction: column;
    height: 60px;
    padding: 0;
  }
}

.nav_links {
  display: flex;
  gap: 1rem;
}

.footer ul {
  text-align: right;
}

.footer ul > li {
  margin: 0.5rem 0.5rem 0 0;
}

.post-meta {
  color: #3C4858;
  font-size: 18px;
  text-transform: uppercase;

  .icon {
    height: 19px;
  }
}
