---
layout: link-list
---

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="list-item">
        {% assign date_format = site.minima.date_format | default: "%-d %B %Y" %}
        <span class="post-meta">
          {{ post.date | date: date_format }} 
          {% case post.type %}
            {% when 'codepen-pen'%}
            <svg width="28" height="28" class="icon codepen">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#codepen-logo"></use>
            </svg>
            <strong>Pen at codepen.io</strong>
            {% when 'til'%}
              <strong>•  Today I Learned •</strong>
            {% when 'ember-twiddle'%}
            <svg width="50" height="28" class="icon ember">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ember-logo"></use>
            </svg>
            <strong>Ember Twiddle</strong>
            {% else %}
              <strong>•  Article  •</strong>
          {% endcase %}
        </span>
        {% if post.link %}
          <h2>
            <a class="post-link" href="{{ post.link }}" target="_blank"> {{ post.title | escape }} </a>
          </h2>
        {% else %}
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
          </h2>
        {% endif %}
      </li>
    {% endfor %}

    <li>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </li>
  </ul>
