---
layout: default
---


<div class="home">
  
  <section id="home-intro" class="home__intro">
    <div class="home__container">
      <h1 class="home__intro__title">I help small businesses build web applications.</h1>
      <p class="home__intro__text"><strong class="home__intro__text--emphasis">Hi, I'm Frederic (@hakilebara)</strong>, a consultant based in Paris. I work exclusively with small businesses.
      I focus on building custom web and mobile products.
      </p>
    </div>
  </section>
  <!--<hr>-->
  <section class="home__content">
    <div class="home__container">

      <h2 class="home__content__title">What I can do.</h2>
      <div class="home__content__what-i-can-do">
        <div class="home__content__icons-vert home__content__design-icons-vert"></div>
        <div class="home__content__wrapper">
          <h3 class="home__content__subtitle">I design what you want.</h3>
          <p class="home__content__text">
          I take the time to understand your users.
          I focus on typography, colors and content to deliver a great user experience.
          </p>
        </div>
      </div>

      <div class="home__content__what-i-can-do">
        <div class="home__content__icons-vert home__content__dev-icons-vert"></div>
        <div class="home__content__wrapper">
          <h3 class="home__content__subtitle">I develop what you need.</h3>
          <p class="home__content__text">Using a mobile-first approach, I develop the solution you need whether it's an e-commerce shop, a marketing website, a Wordpress CMS or a custom platform.</p>
        </div>
      </div>

    </div>
  </section>
  <!--<hr>-->
  <section class="home__hire-me">
    <div class="home__container">
      <h2 class="home__hire-me__title">Hire me.</h2>
      <h3 class="home__hire-me__subtitle">I am currently available for freelance work.</h3>
      <h3 class="home__hire-me__text">Let's work together : <a href="mailto:frederic.soumare@gmail.com" class="home__hire-me__message-me">message me</a> </h3>
    </div>
  </section>
</div>  

